{% extends "@RoadizRozier/documents/list-table.html.twig" %}

{% block content_title %}
    <h1 class="content-title">{% trans %}duplicated_documents{% endtrans %}</h1>
{% endblock %}

{% block header_action_menu %}{% endblock %}
